html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.lista-obras a {
  display: block;
}



/* Container
-------------------------------------------------- */

.container .text-muted {
  margin: 20px 0;
}

.container {
  padding-top: 60px;

}

p.msgErro  {
  padding: 0.25rem;
  color: red;
}


/* Rodapé fixo
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container {

  display: flex;
  align-items: center;

  font-size: 0.7rem;

  height: 100%;
  width: 100%;

  padding: 0 3rem;
}