/**
 * ESQUADRÃO UFO
 *
 *
**/

/* Tipo Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis */

:root {
    --preto: #021326;
    --amarelo: #E79F00;
    --azul-escuro: #152F47;
    --largura-coluna: 720px;
}

/* Estilos base */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    color: white;
}

body {
    background-color: black;
    background-image: url('../img/fundo.jpg');
    background-position: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.conteudo {
    margin: 0 auto 5rem;
    max-width: var(--largura-coluna);
    padding: 1rem;
}

h2 {
    color: var(--amarelo);
}

/* Estilos extras */

.amarelo {
    color: var(--amarelo) !important;
}

.azul-escuro {
    color: var(--azul-escuro) !important;
}

.btn {
    padding: 12px 16px;
    border: 1px var(--amarelo) solid;
    border-radius: 12px;
    background-color: var(--amarelo);
    color: var(--azul-escuro);
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: transparent;
    color: var(--amarelo);
}

.btn-bar {
    display: flex;
    margin: 2rem auto;
    width: 100%;
}

/* Cabeçalho */

.site-header {
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 12px;
    width: 100%;
}

.site-header .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
}

.site-header .logo img {
    max-width: 80px;
}

.site-header nav {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 70%;
}

.site-header nav ul {
    display: none;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

.site-header ul.abre {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    height: auto;
    z-index: 99;
}

.site-header ul.abre li {
    padding: 20px;
}

.site-header ul li {
    text-transform: uppercase;
}

.site-header ul li a {
    color: var(--azul);
    text-decoration: none;
}

.menu-toggle {
    float: right;
    border: 0;
    font-size: 1.5em;
    background-color: transparent;
    color: var(--cinza);
    padding: 8px;
}

@media screen and (min-width: 800px) {
    .menu-toggle {
        display: none;
    }

    .site-header nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}



/* Abas */

#inicio,
#instrucoes,
#inscricao,
#info-ufo,
#termos {
    padding-top: 120px;
}



/* Formulários */

form {
    margin: 0 auto;
}

input[type="file"],
input[type="text"],
input[type="email"],
textarea {
    width: 100%;

}

input[type="text"],
input[type="date"],
input[type="radio"] {}

.uma-linha {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.uma-linha>* {
    margin-bottom: 0.5rem;
}

.um-terco {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .um-terco {
        width: 32%;
    }
}

.meia-linha {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .meia-linha {
        width: 48%;
    }
}

.um-quarto {
    width: 50%;
}

@media screen and (min-width: 600px) {
    .um-quarto {
        width: 24%;
    }
}

/* Mensagens de erro */

.msgerro {
    color: orangered;
    font-weight: 500;
    margin: 24px auto 0;
}



/* Rodapé */

.site-footer {
    padding: 6rem 0 2rem;
}

.footer-content {
    font-size: 0.75rem;
    max-width: var(--largura-coluna);
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape-marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 1rem;
    width: 200px;
}

.rodape-marcas img {
    max-height: 64px;
    width: auto;
}



/* INÍCIO */

#inicio .conteudo {
    text-align: center;
}


/* TERMOS DE USO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.regulamento-janela {
    border: 1px solid white;
    border-radius: 16px;
    height: 30vh;
    overflow: auto;
    margin: 3em auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regulamento-miolo {
    overflow: auto;
    max-height: 100%;
}

.form-aceite .caixa-aceite {
    margin: 1em;
}

.form-aceite .botao {
    font-weight: 700;
    padding: 8px 16px 4px;
}

.regulamento-estilo-titulo {
    font-size: 20px;
    font-weight: 700;
}

.regulamento-estilo-subtitulo {
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
}

.regulamento-estilo-normal code {
    color: var(--azul-claro);
}



#gravacaoObraRetorno {
    margin: 5rem auto 0;
}